<header>
    <nav class="navbar is-dark has-background-black-ter is-flex is-justify-content-center">
        <div class="columns">
            <div class="column is-full">
                <div class="navbar-brand">
                    <a  class="navbar-item is-size-1"
                        href="{% url 'projects:home' %}"
                        hx-target="#content"
                        _="on click show #splash-screen"
                        HX-Request
                    >
                        Tim Jones
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar is-dark has-background-black-ter is-flex is-justify-content-center">
        <div class="columns">
            <div class="column is-full">
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a  class="navbar-item"
                            href="{% url 'blog:post-list' %}"
                            hx-target="#content"
                            _="on click show #splash-screen"
                            HX-Request
                        >
                            Blog
                        </a>
                        <a  class="navbar-item"
                            href="{% url 'blog:post-list' %}"
                            hx-target="#content"
                            _="on click show #splash-screen"
                            HX-Request
                        >
                            Resume
                        </a>
                        <a  class="navbar-item"
                            href="{% url 'blog:post-list' %}"
                            hx-target="#content"
                            _="on click show #splash-screen"
                            HX-Request
                        >
                            Contact
                        </a>
                        <div class="navbar-item">
                            <input  type="checkbox"
                                    class="switch"
                                    id="switch"
                                    _="
                                        on click
                                            toggle .has-background-dark .has-text-light on body
                                        then
                                            toggle .is-light .is-dark .has-background-black-ter on <nav.navbar/>
                                    "
                                    checked
                            />
                            <label class="switch-label" for="switch">Toggle</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>