{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/switch.css' %}">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
</head>
<body class="has-background-dark has-text-light h-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="true">
    {% include 'snippets/_header.html' %}
    <section id="content">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>